body{
    padding: 0;
    margin: 0;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    color: #fff;
}

.header{
    width: 100%;
    height:300px;
    display: flex;
    align-items: center;
}

.header img{
    width:15%;
    margin-left: 5%;
}

h2 {
    border: 1px solid red;
    font-size: 30px;
    margin: 0;
}

.domanda{
    width:100%;
    /* height:200px; */
    /* margin-top: 50px; */
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="radio" i] {
    display: none;
}

input {width: 100%; height: 50px;}

#contenitoreButton {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6%;
}

button {
    background-color: unset;
    border: none;
}

label {
    display: block;
    min-width: 200px;
    padding: 20px 40px;
    margin-bottom: 15px;
    background: #ffffff50;
    color: #fff;
    border-radius: 30px;
}

label:hover,
.checked + label{
    background: linear-gradient(#D20094, #900080);
}


.opzioni{
    width: 100%;
    display: flex;
    justify-content: center;
}

.opzioni button{
    width: 20%;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: aliceblue;
    background-color: rgba(62, 59, 97, 0.4);
    border-radius: 50px;
    margin-right: 40px;
}

.opzioni button:hover{
    background-color: blueviolet;
}

p {font-size: 12px;}

label {font-size: 12px;}


/*
TIMER
*/
.contenitoreSecondi {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 150px;
  }
  
  .cerchio1 {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    border-style: solid;
    border-color: green;
    border-width: 30px;
    transition: border-color 5s ease;
    margin-right: 0px;
  }

  .seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
  }